.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 120px;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover, .btn__source:hover,
.source__item:focus, .btn__source:focus  {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}


.btn__source{
    width: 250px;
    height: 50px;
    margin-left: 10px;
    display: none;
    font: 500 2rem 'Fira Sans', sans-serif;
    color: #70d6ff;
    border: 2px solid #30c5ff;
    background-color: inherit;
}

.btn__source p{
    margin: 6px 10px;
}

@media screen and (max-width:500px) {
    .sources {
        display: none;
        flex-direction: column;
        height: 100%;
        background-color: black;
        overflow-x: hidden;
        position: absolute;
        z-index: 100;
    }

    .source__item {
        width: 80%;
    }

    .btn__source{
        display: block;
    }
}

.displayadd {
    display: block;
}